/* abstracts */
/* base */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (max-width: 22.5em) {
  html {
    font-size: 30%;
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
**::after {
  box-sizing: inherit;
}

body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
}

ul, li {
  list-style-position: inside;
}

textarea {
  resize: none;
}

a, button {
  cursor: pointer;
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* components */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  transition: all 0.3s;
}
.modal__card {
  display: flex;
  height: 65vh;
  width: 60vw;
}
.modal__image {
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  flex: 4;
  border: none;
  outline: none;
}
.modal__image--1 {
  background-image: url("../../images/sparkling.jpg");
  background-position: center;
}
.modal__image--2 {
  background-image: url("../../images/sustainable.jpg");
  background-position: center;
}
.modal__image--3 {
  background-image: url("../../images/recipe.jpg");
}
.modal__contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: #886841 0.5rem solid;
  border-radius: 10rem;
  height: 75%;
  width: 65%;
}
.modal__contact-form__input {
  margin: 1.5rem 0;
  color: white;
  width: 50%;
  border: #886841 0.4rem solid;
  outline: none;
  background-color: transparent;
  border-radius: 5rem;
  padding: 1rem;
}
.modal__contact-form__text {
  padding: 1rem;
  background-color: transparent;
  border: #886841 0.4rem solid;
  outline: none;
  margin-bottom: 1.5rem;
  color: white;
}
.modal__contact-form__button {
  margin-bottom: 1.5rem;
  padding: 1.5rem 1rem;
  text-decoration: none;
  background-color: #886841;
  font-size: 2.5rem;
  border-radius: 10rem;
  color: white;
}
.modal__contact-form__button:active {
  transform: translateY(-6px);
}
.modal__description {
  display: flex;
  flex: 5;
  flex-direction: column;
  color: white;
  background-color: rgba(0, 0, 0, 0.897);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__description__header {
  color: white;
  font-size: 7rem;
  font-weight: 800;
  justify-self: flex-start;
  align-self: center;
  font-family: "Dancing Script", cursive;
  padding-bottom: 2rem;
}
.modal__description__content {
  color: white;
  font-size: 1.8rem;
  padding: 6rem 10rem;
}

.modal-button {
  font-size: 1.6rem;
  color: white;
  margin-top: 2rem;
  border: none;
  background-color: #886841;
  padding: 1rem 2.5rem 1rem 2.5rem;
  border-radius: 5rem;
  font-weight: 700;
  transition: all 0.5s;
}
.modal-button:hover {
  transform: translateY(-5px);
}
.modal-button:active {
  transform: translateY(-10px);
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.274);
  position: fixed;
  overflow: hidden;
  backdrop-filter: blur(15px);
  top: 0;
  left: 0;
  z-index: 5;
  transition: all 0.3s;
}
.overlay__close-button {
  position: fixed;
  top: 5%;
  right: 5%;
  padding: 5px;
  border: 0;
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
}
.overlay__close-button--sign-box {
  width: 5rem;
  height: 1rem;
  display: inline-block;
  position: fixed;
  margin-top: 2rem;
}
.overlay__close-button--sign-inner::after {
  content: "";
  height: 0.5rem;
  width: 100%;
  position: absolute;
  background-color: white;
  color: white;
  transform-origin: center;
  transform: rotate(-45deg);
  left: 0;
  top: 50%;
}
.overlay__close-button--sign-inner::before {
  content: "";
  height: 0.5rem;
  width: 100%;
  position: absolute;
  background-color: white;
  color: white;
  transform-origin: center;
  transform: rotate(45deg);
  left: 0;
  top: 50%;
}

::-webkit-scrollbar {
  width: 1.2rem;
  background-color: black;
  border-left: 2px solid #886841;
}

::-webkit-scrollbar-thumb {
  width: 0.2rem;
  background-color: #886841;
  border-radius: 10rem;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  width: 100%;
  color: #886841;
  background-color: black;
  z-index: 4;
  transition: all 0.5s;
  padding: 2rem 0;
  border-bottom: 0.2rem solid #886841;
}
@media only screen and (max-width: 22.5em) {
  .navbar {
    grid-template-columns: 1fr 1fr;
  }
}
.navbar__logo {
  height: 8rem;
  width: 8rem;
  letter-spacing: 1rem;
  margin-right: auto;
  margin-left: 2rem;
}
.navbar__header {
  font-family: "Dancing Script", cursive;
  font-size: 7rem;
  letter-spacing: 0.7rem;
  justify-self: center;
  align-self: center;
}
@media only screen and (max-width: 22.5em) {
  .navbar__header {
    display: none;
  }
}
.navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  justify-self: center end;
  align-self: center end;
  margin-left: auto;
  margin-right: 2rem;
}
@media only screen and (max-width: 22.5em) {
  .navbar__links {
    margin: 0;
  }
}
.navbar__link {
  padding-right: 2rem;
  color: #886841;
  transition: all 0.5s;
}
.navbar__link:last-child {
  padding-right: 0;
}

.navbar.sticky {
  position: fixed;
}

.header {
  height: 100vh;
}

.special__offer {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 50%;
  height: 20%;
  z-index: 10;
  color: white;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  background-color: black;
  transform: translate(-50%, 0);
  border-top: #886841 2px solid;
  border-right: #886841 2px solid;
  border-left: #886841 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s;
}
.special__offer__close-button {
  position: fixed;
  top: 10%;
  right: 6%;
  border: none;
}
.special__offer__close-button--box {
  width: 3rem;
  height: 2rem;
  position: fixed;
}
.special__offer__close-button--inner::before {
  content: "";
  height: 0.5rem;
  width: 100%;
  position: absolute;
  background-color: white;
  color: white;
  transform-origin: center;
  transform: rotate(-45deg);
  left: 0;
  top: 50%;
}
.special__offer__close-button--inner::after {
  content: "";
  height: 0.5rem;
  width: 100%;
  position: absolute;
  background-color: white;
  color: white;
  transform-origin: center;
  transform: rotate(45deg);
  left: 0;
  top: 50%;
}
.special__offer__header {
  font-size: 5rem;
  font-family: "Dancing Script", cursive;
}
.special__offer__timer {
  font-size: 3rem;
}
.special__offer__link {
  background-color: #886841;
  color: white;
  margin: 1rem 0;
  padding: 1rem 3rem;
  font-size: 2.2rem;
  border-radius: 2rem;
  text-transform: uppercase;
  font-weight: 900;
}

/* utilities */
.hidden {
  visibility: hidden;
  opacity: 0;
}

.section {
  transition: transform 1s, opacity 1s;
}

.hidden-section {
  opacity: 0;
  transform: translateY(7rem);
}

.link {
  text-decoration: none;
}

/* layouts */
.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  width: 100%;
  color: #886841;
  background-color: black;
  z-index: 4;
  transition: all 0.5s;
  padding: 2rem 0;
  border-bottom: 0.2rem solid #886841;
}
@media only screen and (max-width: 22.5em) {
  .navbar {
    grid-template-columns: 1fr 1fr;
  }
}
.navbar__logo {
  height: 8rem;
  width: 8rem;
  letter-spacing: 1rem;
  margin-right: auto;
  margin-left: 2rem;
}
.navbar__header {
  font-family: "Dancing Script", cursive;
  font-size: 7rem;
  letter-spacing: 0.7rem;
  justify-self: center;
  align-self: center;
}
@media only screen and (max-width: 22.5em) {
  .navbar__header {
    display: none;
  }
}
.navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  justify-self: center end;
  align-self: center end;
  margin-left: auto;
  margin-right: 2rem;
}
@media only screen and (max-width: 22.5em) {
  .navbar__links {
    margin: 0;
  }
}
.navbar__link {
  padding-right: 2rem;
  color: #886841;
  transition: all 0.5s;
}
.navbar__link:last-child {
  padding-right: 0;
}

.navbar.sticky {
  position: fixed;
}

.header {
  height: 100vh;
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.767), rgba(37, 31, 31, 0.658)), url("../../images/champagne.jpeg");
  background-size: cover;
  background-position: right;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
.main__header {
  color: white;
  font-size: 15rem;
  margin-bottom: 15rem;
  animation: mainFadeIn 1.5s ease-out;
}

.features {
  border-bottom: 0.2rem solid #886841;
  padding: 20rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  position: relative;
}
@media only screen and (max-width: 22.5em) {
  .features {
    grid-template-columns: 1fr;
    padding: 0;
    width: 100%;
  }
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: black;
  place-items: center;
  color: white;
  border: 0.3rem #886841 solid;
  border-radius: 3rem;
  padding: 5rem 3rem 5rem 3rem;
  height: 40vh;
  width: 20vw;
}
@media only screen and (max-width: 22.5em) {
  .card {
    height: 100%;
    width: 100%;
    padding: 0;
  }
}
.card__header {
  font-size: 7rem;
  font-family: "Dancing Script", cursive;
}
.card__svg {
  margin-top: 1rem;
  width: 10rem;
  height: 10rem;
}

.gif {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.295), rgba(37, 31, 31, 0.295)), url("../../gifs/vineyard.gif");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  transform: scale(1);
  border-bottom: 0.2rem solid #886841;
}
.gif__header {
  font-size: 8rem;
  color: white;
  letter-spacing: 1.2rem;
  font-weight: 200;
}

.slider {
  width: 100%;
  height: 95vh;
  overflow: hidden;
  position: relative;
  display: grid;
  place-items: center;
  grid-template-rows: min-content;
  border-bottom: 0.2rem solid #886841;
}
.slider__header {
  color: #886841;
  font-size: 3rem;
  margin-top: 10rem;
}
.slider__previous {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 3;
  border: none;
  color: #886841;
  font-size: 5rem;
  display: inline-block;
  background-color: transparent;
  left: 5%;
}
.slider__next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 3;
  border: none;
  color: #886841;
  font-size: 5rem;
  display: inline-block;
  background-color: transparent;
  right: 5%;
}
.slider__dots {
  padding: 0;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  display: inline-block;
  z-index: 3;
}
.slider__dot {
  width: 1rem;
  height: 1rem;
  margin-left: 2rem;
  border-radius: 50%;
  border: none;
  background-color: #886841;
  cursor: pointer;
}
.slider__dot--active {
  background-color: white;
}

.slide {
  position: absolute;
  transition: all 0.7s;
  width: 100%;
  height: 95vh;
  display: grid;
  place-items: center;
}
.slide__card {
  width: 40vw;
  height: 60%;
  border: 0.3rem #886841 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  flex-direction: column;
  gap: 6rem;
  padding: 0 10rem;
  text-align: center;
}
.slide__card__header {
  font-size: 5.5rem;
}
.slide__card__opinion {
  font-size: 2rem;
}
.slide__card__user--image {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}
.slide__card__user--data {
  font-size: 2rem;
  font-family: "Oooh Baby", cursive;
  letter-spacing: 0.1rem;
}
.slide__card::before {
  content: '"';
  position: absolute;
  top: 0;
  left: 5%;
  color: #886841;
  opacity: 0.8;
  font-family: "Secular One", serif;
  font-size: 12rem;
}

.contact {
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 0.2rem solid #886841;
  background-color: #886841;
}
.contact__header {
  font-size: 5rem;
  color: white;
}
.contact__button {
  margin-top: 3rem;
  padding: 2rem 8rem;
  border: none;
  border-radius: 10rem;
  background-color: black;
  color: white;
  transition: all 0.3s;
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
}
.contact__button:hover {
  transform: translateY(-5px);
}
.contact__button:active {
  transform: translateY(-8px);
}

.footer {
  height: 25vh;
  display: grid;
  place-items: center;
  background-color: transparent;
  color: white;
}
.footer__header {
  font-size: 2.5rem;
}
.footer__social-media {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.footer__social-media__icon-box {
  display: flex;
  flex-direction: row;
  gap: 3.5rem;
  margin-top: 2rem;
}
.footer__social-media--icon {
  height: 4rem;
  width: 4rem;
}
.footer__info {
  display: flex;
  flex-direction: row;
  border-bottom: 2px dotted #886841;
  padding-bottom: 2rem;
}
.footer__info > p {
  margin-right: 2rem;
  font-size: 1.8rem;
}
.footer__author {
  font-weight: 200;
  font-size: 1.2rem;
}

/* themes */

/*# sourceMappingURL=base.css.map */
