.hidden {
    visibility: hidden;
    opacity: 0;
}

.section {
    transition: transform 1s, opacity 1s;
}

.hidden-section {
    opacity: 0;
    transform: translateY(7rem);
}

.link {
    text-decoration: none;
}