@import '../abstracts/mixins.scss';

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    transition: all .2s;

    &__card {
        display: flex;
        height: 65vh;
        width: 60vw;
    }
    
    &__image {
        @include modalImagePosition;
        background-color: black;
        flex: 4;
        border: none;
        outline: none;
        
        &--1 {
            background-image: url('../../images/sparkling.jpg');
            background-position: center;
        }

        &--2 {
            background-image: url('../../images/sustainable.jpg');
            background-position: center;
        }

        &--3 {
            background-image: url('../../images/recipe.jpg');
        }
    }

    &__form {
        @include flexCenter;
        flex-direction: column;
        border: $light--brown .5rem solid;
        border-radius: 10rem;
        height: 80%;
        width: 65%;
        &__input {
            margin: 1.5rem 0;
            color: white;
            width: 50%;
            border: $light--brown .4rem solid;
            outline: none;
            background-color: transparent;
            border-radius: 5rem;
            padding: 1rem;
        }

        &__text {
            padding: 1rem;
            background-color: transparent;
            border: $light--brown .4rem solid;
            outline: none;
            margin-bottom: 1.5rem;
            color: white;
        }

        &__button {
            margin-bottom: 1.5rem;
            padding: 2rem 1rem;
            text-decoration: none;
            background-color: $light--brown;
            font-size: 2.5rem;
            border-radius: 10rem;
            color: white;
            transition: all .2s;

            &:active {
                transform: translateY(-6px);
            }
        }
    }

    &__description {
        background-color: rgba(0, 0, 0, 0.897);
        flex: 5;
        @include flexCenter;
        flex-direction: column;
        color: white;

        &__header {
            color: white;
            margin-bottom: 2rem;
            font-size: 5rem;
        }

        &__content {
            color: white;
        }
    }
    

}

.modal-button {
    font-size: 1.6rem;
    color: white;
    margin-top: 2rem;
    border: none;
    background-color: $light--brown;
    padding: 1rem 2.5rem 1rem 2.5rem;
    border-radius: 5rem;
    font-weight: 700;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.274);
    position: fixed;
    overflow: hidden;
    backdrop-filter: blur(15px);
    top: 0;
    left: 0;
    z-index: 5;
    transition: all 1s;
    

    &__close-button {
        position: fixed;
        top: 5%;
        right: 5%;
        padding: 5px;
        border: 0;
        background-color: transparent;
        display: inline-block;
        cursor: pointer;
        &--sign-box {
            width: 5rem;
            height: 1rem;
            display: inline-block;
            position: fixed;
            margin-top: 2rem;
        }

        &--sign-inner{
        
            &::after {
            @include modalCloseButton;
            transform: rotate(-45deg);
        }
        
        &::before {
            @include modalCloseButton;
            transform: rotate(45deg);
        }
      }
    }
}