@import '../abstracts/breakpoints.scss';
html {
    font-size: 62.5%;
    box-sizing: border-box;

    @media only screen and (max-width: $small) {
        font-size: 30%;
    }
}


* {
    margin: 0;
    padding: 0;
}

*,
*::before,
**::after {
    box-sizing: inherit;
}

body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;

    
}

ul, li {
    list-style-position:inside;
    list-style: none;
}

textarea {
    resize: none;
}

a, button {
    cursor: pointer;
}




