@import '../abstracts/breakpoints.scss';
html {
    font-size: 62.5%;
    box-sizing: border-box;
    @media only screen and (max-width: $nest-hub-width) and (max-height: $nest-hub-height) {
        font-size: 55%;
    }
    @media only screen and (max-width: $large) {
        font-size: 50%;
    }
    @media only screen and (max-width: $medium-large) {
        font-size: 50%;
    }
    @media only screen and (max-width: $medium) {
        font-size: 50%;
    }
    @media only screen and (max-width: $small) {
        font-size: 30%;
    }
    @media only screen and (max-width: $super-small) {
        font-size: 22%;
    }
}



* {
    margin: 0;
    padding: 0;
}

*,
*::before,
**::after {
    box-sizing: inherit;
}

body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    
}

ul, li {
    list-style-position:inside;
    list-style: none;
}

textarea {
    resize: none;
}

a, button {
    cursor: pointer;
}




