@import '../abstracts/variables.scss';

.footer {
    height: 20vh;
    display: grid;
    place-items: center;
    background-color: transparent;
    color: white;

    &__header {
        font-size: 2.5rem;
    }
    &__social-media {
        display: flex;
        flex-direction: column;
        place-items: center;
        &__icon-box {
            display: flex;
            flex-direction: row;
            gap: 3.5rem;
            margin-top: 2rem;
        }
        &--icon {
            height: 4rem;
            width: 4rem;
        }
    }

    &__info {
        display: flex;
        flex-direction: row;
        & > p {
            margin-right: 2rem;
            font-size: 1.8rem;
        }
    }
    
}