@import '../base/animations.scss';



.main {
    @include flexCenter;
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.767), rgba(37, 31, 31, 0.658)),  url('../../images/champagne.jpeg');
    background-size: cover;
    background-position: right;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

    @media only screen and (max-width: $medium-large) {
        text-align: center;
    }

    &__header {
        color: white;
        font-size: 15rem;
        margin-bottom: 15rem;
        animation: mainFadeIn 1.5s ease-out ;
    }
}