@import '../abstracts/mixins.scss';
@import '../abstracts/variables.scss';
@import '../abstracts/breakpoints.scss';

.navbar {
    display: grid;
    position: relative;
    height: 8vh;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: $light--brown;
    background-color: black;
    z-index: 4;
    transition: all .5s;
    padding: 2rem 0;
    @include borderBottomPrimary;

    @media only screen and (max-width: $medium) {
        grid-template-columns: min-content max-content min-content;
    }


    &__logo {
        height: 8rem;
        width: 8rem;
        letter-spacing: 1rem;
        margin-right: auto;
        margin-left: 2rem;
        
    }

    &__header {
        font-family: 'Dancing Script', cursive;
        font-size: 7rem;
        letter-spacing: .7rem;
        justify-self: center;
        align-self: center;
        @media only screen and (max-width: $small) {
            font-size: 6rem;
            font-weight: 900;
            letter-spacing: 0;
        }

        @media only screen and (max-width: $medium) {
            font-size: 5rem;
        }
        
    }

    &__links {
        @include flexCenter;
        font-size: 2rem;
        letter-spacing: .2rem;
        justify-self: center end ;
        align-self: center end;
        margin-left: auto;
        margin-right: 2rem;

        @media only screen and (max-width: $medium) {
            position: fixed;
            top: 10vh;
            right: 0%;
            height: 90vh;
            @include flexCenter;
            transition: transform .5s;
            transform: translateX(200%);
            flex-direction: column;
            justify-content: space-around;
            width: 100%;;
            z-index: 100;
            margin: 0;
            padding: 0;
            background-color: black;
        }

        &--active {
           transform: translate(0%);
            
        }
    }

    &__link {
       padding-right: 2rem;
       color: $light--brown;
       transition: all .5s;

       @media only screen and (max-width: $small) {
        font-size: 5rem;
        
    }

        &:last-child {
            padding-right: 0;
        }
    }
}


.header {
    height: 100vh;
    overflow: hidden;
}
