@import '../abstracts/mixins.scss';
@import '../abstracts/variables.scss';

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    color: $light--brown;
    height: 7vh;
    width: 100%;
    background-color: black;
    z-index: 1;
    transition: all .5s;
    padding: 2rem 0;
    @include borderBottomPrimary;

    &__logo {
        height: inherit;
        letter-spacing: 1rem;
        margin-right: auto;
        margin-left: 2rem;
        
    }

    &__header {
        font-family: 'Dancing Script', cursive;
        font-size: 7rem;
        letter-spacing: .7rem;
        justify-self: center;
        align-self: center;
        
    }

    &__links {
        @include flexCenter;
        font-size: 2rem;
        letter-spacing: .2rem;
        color: $light--brown;
        justify-self: center end ;
        align-self: center end;
        margin-left: auto;
        margin-right: 2rem;
    }

    &__link {
       padding-right: 2rem;

        &:last-child {
            padding-right: 0;
        }
    }
}


.navbar.sticky {
    position: fixed;
   
}

.header {
    height: 100vh;
}
