@import '../abstracts/mixins.scss';
@import '../abstracts/variables.scss';

.navbar {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $light--brown;
    height: 7vh;
    width: 100%;
    background-color: black;
    z-index: 100;
    transition: all .5s;
    @include borderBottomPrimary;

    &__logo {
        height: inherit;
        letter-spacing: 1rem;
        margin-right: auto;
        
    }

    &__header {
        font-family: 'Dancing Script', cursive;
        font-size: 7rem;
        letter-spacing: .7rem;
        justify-self: center;
        align-self: center;
        
    }

    &__links {
        @include flexCenter;
        font-size: 2rem;
        letter-spacing: .2rem;
        color: $light--brown;
        justify-self: center end ;
        align-self: center end;
        margin-left: auto;
    }

    &__link {
       padding-right: 2rem;

        &:last-child {
            padding-right: 0;
        }
    }
}


.navbar.sticky {
    position: fixed;
    border: none !important;
   
}

