@import '../abstracts/mixins.scss';

.gif {
    @include flexCenter;
    height: 70vh;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.295), rgba(37, 31, 31, 0.295)), url('../../gifs/vineyard.gif');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
    transform: scale(1);
    @include borderBottomPrimary;

    @media only screen and (max-width: $small) {
        height: 30vh
    }

    

    &__header {
        font-size: 8rem;
        color: white;
        letter-spacing: 1.2rem;
        font-weight: 200;

        @media only screen and (max-width: $small) {
            font-size: 4rem;
            letter-spacing: 0;
        }

    }
}