@import '../abstracts/mixins.scss';

.gif {
    height: 70vh;
    display: grid;
    place-items: center;
    text-align: center;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.295), rgba(37, 31, 31, 0.295)), url('../../gifs/vineyard.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    @include borderBottomPrimary;
    @media only screen and (max-width: $medium) {

    }

    @media only screen and (max-width: $small) {
        height: 50vh;
    }

   

    

    &__header {
        font-size: 8rem;
        color: white;
        letter-spacing: 1.2rem;
        font-weight: 900;
        @media only screen and (max-width: $medium) {
           font-size: 6rem;
        }

        @media only screen and (max-width: $small) {
            font-size: 7rem;
            letter-spacing: .5rem;
        }

       

    }
}