@import 'variables.scss';


@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin modalCloseButton {
    content: '';
    height: .5rem;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    background-color: white;
    color: white;
    transform-origin: center
}

@mixin modalImagePosition {
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin blackGradient {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.767), rgba(37, 31, 31, 0.658));
}

@mixin borderBottomPrimary {
    border-bottom: .2rem solid $light--brown;
}

@mixin boxBorder {
    border: .3rem $light--brown solid;
}